body {
    margin-left: 0;
}

.header {
    margin-left: 1vh;
}

.table1 {
    background: skyblue;
    padding: 1%;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    margin-left: 0vh;
    margin-top: -3.3vh;
}

.title1 {
    color: black;
    font-size: 20px;
}

.topbar1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(87, 87, 87);
    overflow: hidden;
    border-radius: 10px;
    top: 10px;
    margin-left: 12vh;
    margin-top: -9.8vh;
  }

.topbar {
    display: inline;
    float: right;
    background: rgb(59, 59, 59);
}

.topbar a {
    display: block;
    padding: 8px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topbar a:hover {
    background-color: black;
}

#active:hover {
    background-color:rgb(61, 87, 22)
}

#active {
    background-color: rgb(100, 143, 36);
}

.table2 {
    background: skyblue;
    background-color: silver;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    position: static;
    top: 10px;
    height: 12vh;
}

.formq1 {
    border-radius: 10px;
    background: rgb(236, 236, 236);
    width: 40vh;
    height: 40vh;
    margin: 40%;
    margin-top: 15%;
    border-color: black;
    border-width: 1px; 
    position: fixed;
    pointer-events: all;
    display: none;
    z-index: 10;
    opacity: 1;
}

.createnote {
    background: black;
    color: white;
    width: 8vh;
    height: 3.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin-left: 12vh;
    margin-top: -4vh;
    position: absolute;
}

.close1 {
    color: black;
    font-weight: bold;
    margin-left: 38vh;
    font-size: 24px;
    position: fixed;
    background: none;
}

.close1:hover {
    color: red;
    cursor: pointer;
    background-color: none;
}

.backdim {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    visibility: visible;
    pointer-events: all;
    display: none;
    z-index: 1;
}

.extitle {
    margin-left: 2vh;
    color: black;
}

#titleinput {
    margin-left: 2vh;
    margin-top: -4vh;
    color: black;
    font-size: 24px;
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 85%;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

.titleinput:focus {
    background: rgb(223, 242, 255);
}

.exnote {
    margin-left: 2vh;
}

#notesinput {
    margin-left: 2vh;
    color: black;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
    width: 85%;
    height: 20vh;
    text-align: left;
    vertical-align: text-top;
    resize: none;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
}

.closebutton1 {
    margin-left: 2vh;
    color: white;
    background: rgb(179, 0, 0);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 6vh;
    height: 3vh;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 1.5vh;
    content: "Close";
    border-color: red;
}

.submitnote {
    color: white;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: green;
    width: 6vh;
    height: 3vh;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-left: 24vh;
    margin-top: 1.7vh;
    border-color: limegreen;
    text-align: center;
}

#notesinput:focus {
    background: rgb(223, 242, 255);
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: text;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(214, 214, 214);
    font-size: 24px;
    transition: 0.1s;
    user-select: none;
    margin: 20px;
    border-radius: 10px;
}

ul li:hover {
    background: rgb(161, 161, 161);
}

.close {
    position: absolute;
    right: 1.5vh;
    top: 0vh;
    padding: 12x 16px 12px 16px;
    font-size: 60px;
}

.close:hover {
    color: red;
    cursor: grab;
}

#linotes {
    font-size: 20px;
    font-weight: 150;
    text-indent: 3vh;
}

#lititle {
    font-size: 35px;
    font-weight: bold;
}
